body {
  padding: 50px;
  font: 20px brown-regular,helvetica,arial,sans-serif;
  background-color: #F9F9F9;
}

a {
  color: #00B7FF;
}

#titleLogo {
  height: 60px;
  margin-bottom: 60px;
}

.hasSet {
  background-color: #BBEECC;
  border-radius: 10px 30px;
  border: 1px solid #225522;
}

.hasSet small {
  margin-left: 5px;
  font-size: 14px;
}

#container {
  border: 1px solid #EEEEEE;
  background-color: #FFFFFF;
}

#scheduleContainer {
  min-width: 50%;
  overflow-x: scroll;
}

.scheduleTable {
  font: 20px brown-regular,helvetica,arial,sans-serif;
  letter-spacing: -.04em;
  line-height: 1.15;
  border-collapse: collapse;
  min-width: 100%;
  table-layout: fixed;
}

.scheduleTable th {
  padding: 5px 10px;
  min-width: 120px;
}
.scheduleTable thead th {
  border-bottom: 1px solid black;
}
.scheduleTable thead th:not(:last-child) {
  border-right: 1px solid #999999;
}
.scheduleTable tbody tr td:not(:last-child):not(.partialCell) {
  border-right: 1px solid #999999;
}
.scheduleTable tbody tr:nth-child(odd) {
  background-color: #F3F7F3;
}

.scheduleTable tbody th {
  height: 65px;
}

.scheduleTable div {
  padding: 5px 15px;
}

#dayPicker span {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
}

#dayPicker span:hover {
  background-color: #E9ECE9;
}

#dayPicker span.dayLongSpan {
  display: none;
}

.selectedDay {
  background-color: #E9ECE9;
  border-bottom: 3px solid #225522;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 20px;
    font-size: 18px;
  }

  .scheduleTable {
    font-size: 18px;
  }
  
  .hasSet small {
    font-size: 12px;
  }
  
  #dayPicker span.daySpan {
    display: none;
  }

  #dayPicker span.dayLongSpan {
    display: block;
    border: 0;
  }
  
  #dayPicker {
    border-bottom: 1px solid #225522;
  }
  
  #dayPicker span.selectedDay::after {
    content: " \25BC";
    float: right;
  }

  #dayPicker span:not(.selectedDay) {
    display: none;
  }
}
