#eventsContainer {
  position: relative;
  border: 2px solid #333377;
  border-left: none;
  width: 100%;
  max-width: 1000px;
  background-color: #FFFFFF;
}

#eventsPadding {
  position: relative;
  margin: 1px 5px;
}
